* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  
}

.container-fluid{
  padding: 0;
}


.form-control{
  margin-top: 20px;
  display: inline-block;
  height: 50px;
}
.radius{
  border-radius: 50px;
  border: 1px solid#1da1f2;
  color: #1da1f2;
  font-weight: bold;
  width: 90%;
}
.radius:hover{
  background-color: #d4eaf8;
}
.img-padding{
  padding: 0;
}

#img-connexion{
  padding-top: 50px;
  width: 50%;
}

.index-text1{
  margin-top: 30px;
}
#index-span1{
  margin-left: 0;
  margin-right: 0;
  font-size: 40px;
  font-weight: bold;
}

.index-text2{
  margin-top: 30px;
}
#index-span2{
  margin-top: 50px;
  margin-left: 0;
  margin-right: 0;
  font-size: 25px;
  font-weight: bold;
}

.redirect-btn{
  margin-top: 30px;
}

.register{
  border-radius: 50px;
  border: 1px solid#1da1f2;
  font-weight: bold;
  width: 90%;
  background-color: #1da1f2;
  color: #fff;
}
/* FOOTER */
footer{ 
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  height: auto;
  color: #5b7083;
  width: 100%;
}

#center-footer{
  text-align:center;
  padding: 10px 30px;
}

a:visited{
  color: #5b7083;
}

span{
  margin: 0px 10px;
  font-size: 14px;
}